apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-irkkchsd
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-irkkchsd:961ee32dfaf04f802e64f09c886e961c55b92be7@sha256:7d348413858e74a54dce1c3d02b86686dc910429a0199cb37a53968c399ab42e
          name: container-image
